---
import Welcome from '../components/Welcome.astro';
import Projects from '../components/projects/Projects.astro';
import About from '../components/about/About.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main>
		<Welcome />
		<Projects/>
		<About/>
		<Footer/>
	</main>

</Layout>

<style>
	main {
		max-width: 900px;
		width: 90%;
		margin: 0 auto;
	}
</style>
