<footer class="pie">
  <h1 class="titulo">Jose Mancuello</h1>

  <p class="slogan">codigo funcional y creativo</p>
</footer>

<style>

  .pie {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .titulo {
      width: max-content;
      font-size: 4rem;
      font-weight: 700;
      color: transparent;
      letter-spacing: 0.5rem;
      -webkit-text-stroke: 2px white;
      transition: 0.3s ease;

      &:hover {
        color: white;
        -webkit-text-stroke: 0;
        transform: scale(1.02);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      }
    }

    p {
        font-size: 1.4rem;
    }
  }
</style>
