<!doctype html>
<html lang="es">
  <head>
    <title>Jose Mancuello CV</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --font-primary: "Ubuntu", sans-serif;

    --background-800: rgb(8, 10, 18); 
    --background-700: rgba(16, 20, 30, 0.85); 
    --background-600: rgba(36, 40, 56, 0.55);
    --background-500: rgb(66, 72, 96);

    --button-bg: #3c4460;
    --button-br: #5a647d; 

    /* Colores de texto */
    --text-600: #ffffff;
    --text-500: #d1d1e0;

    --color-theme-primary: #a48cfa;
    --color-theme-secondary: #ff79c6;
    --color-theme-tertiary: #8be9fd;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::selection {
    background-color: rgba(255, 121, 198, 0.5); /* Rosa translúcido */
    color: var(--text-600);
  }

  body {
    color: aliceblue;
    background-color: var(--background-800);
    font-family: var(--font-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
</style>
